{% extends 'core/base.html' %}


{% block title %} Edit Student {% endblock title %}


{% block main_content %}

<!-- upper title -->

<section class="container">
    <div class="row justify-content-around mt-5 text-center text-white">
        <div class="col-sm-8 ">
            <h3> Crud Project With Python Django </h3>
        </div>
    </div>



                <!-- Edit button  -->

            <div class="row justify-content-around mt-3">
                <div class="col-sm-4">
                            <form action="" method="POST" class="bg-white p-3 rounded shadow">
                                {% csrf_token %}
                                {{form.as_p}}
                                    <input type="submit" value="Submit" class="btn btn-primary">

                            </form>
                </div>
            </div>

                      


</section>
    
{% endblock main_content %}
    